.bridge
    background-color rgb(233,241,213)
    clearfix()

    .posts
    .planks
        margin 0
        padding 0
        background-color white
        list-style-type none

    .posts
        float left

    .planks
        float right

